<!doctype html>
<html lang="">
{{template "head"}}
<body>
{{template "logo"}}
<h1>Project</h1>
<h4>{{.ProjectID}}</h4>

{{range .Builds}}
    <ul>
        <li>
            <span>{{ .Number }}
                {{ if gt .Result 0}}Result: {{ .Result }} {{ end }}
                {{ if gt .Status 0}}Status: {{ .Status }} {{ end }}
                [<a href="/webview/project/{{$.ProjectID}}/log/{{ .Number }}">
                    Log
                </a>] </span>
        </li>
    </ul>
{{end}}
</body>
</html>
